language: python


python:
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install sly coverage coveralls
  - git clone https://github.com/json5/json5-tests.git

script:
  - coverage run -m pytest tests

after_success:
  - coveralls
